In [17]:
# class Solution(abject):
arr = [5,4,3,2,1]

In [18]:
asort = sorted(arr)
res = 0
sum1 = 0
sum2 = 0

In [19]:
arr

[5, 4, 3, 2, 1]

In [20]:
for i, a in enumerate(arr):
    print(i, a)

0 5
1 4
2 3
3 2
4 1

In [21]:
sum1 = 0
sum2 = 0

In [22]:
# asort
for i, a in enumerate(arr):
    print(sum1, sum2, i , a)
    sum1 += a
    sum2 += asort[i]
    print(sum1, sum2)

0 0 0 5
5 1
5 1 1 4
9 3
9 3 2 3
12 6
12 6 3 2
14 10
14 10 4 1
15 15

In [23]:
for i, a in enumerate(arr):
    sum1 += a
    sum2 += asort[i]
    if sum1 == sum2:
        res += 1
        sum1 = 0
        sum2 = 0
        print(res)

1

In [24]:
# import sys
# print(sys.path)

In [25]:
# sys.path.append('d:\miniconda_dependent\miniconda\envs\siming\lib\site-packages')

In [26]:
a = 6
b = 0

In [27]:
import numpy as np
for i in np.arange(1,20):
    for j in np.arange(1,20):
        for k in np.arange(1,20):
            if i^2 + j^2 + k^2 == a:
                b += 1
                break
            else:
                b += 0

if b != 0:
    print(1)
else:
    pritn(0)

1

227

In [28]:
line = [1, 2, 3, 1, 4, 6]

In [29]:
# import numpy as np
# import pandas as pd
m = np.arange(1, len(line)+1)
df = line
# df = pd.DataFrame({'col1' : line,'col2' :  m})

In [30]:
h = 0
for i in np.arange(1, len(line)-1):
    if (df[i] >= df[i-1] + df[i+1]):
        # print(df.iloc[i,1])
        if df[i] >0:
            t = i
            # print(t)
            while t - 2 >=0:
                 h += df[t]
                 t = t-2
print(h+df[0])

4

In [9]:
#  mil.head()

In [1]:
import pandas as pd
# import qgrid

In [2]:
mil = pd.read_excel("D://myboooks_from_mac/abvc/jundui1.xlsx")

In [3]:
mil.head();
mil.columns

Index(['岗位代码', '用人单位\n序    号', '用人单位\n名    称', '岗位类别', '岗位\n名称', '从事工作',
       '招考数量', '入围比例', '来源\n类别', '学历', '学位', '所学专业', '考试专业科    目', '高校\n毕业生',
       '社会\n人才', '高校\n毕业生.1', '社会\n人才.1', '其他条件', '工作\n地点', '咨询电话',
       'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [4]:
b = pd.Series(mil.从事工作);b

0                       财务管理
1        计算机网络、设备、器材维护与管理等工作
2                       合同管理
3                   国防科技项目管理
4                   网络安全和信息化
                ...
22260               营区环境艺术设计
22261                服装与服饰设计
22262                   英语翻译
22263                 会计相关工作
22264              经费预算和财务审计
Name: 从事工作, Length: 22265, dtype: object

In [5]:
caiwu = b.str.extract(r"(财务)").dropna()

In [31]:
# mil.loc[caiwu.index]
# caiwu

In [6]:
jj = mil.loc[:,"所学专业"]

In [11]:
jj

0                  研究生：经济学，会计（专业学位）\n本科：经济学，财务管理
1                          研究生：计算机科学与技术\n本科：计算机类
2                          研究生：计算机科学与技术\n本科：计算机类
3                       研究生：计算机应用技术\n本科：计算机科学与技术
4        研究生：计算机科学与技术，网络空间安全\n本科：计算机科学与技术，网络空间安全
                          ...
22260                                 艺术设计（专业学位）
22261                                        美术学
22262                         英语语言文学，外国语言学及应用语言学
22263                                   会计（专业学位）
22264                                   会计（专业学位）
Name: 所学专业, Length: 22265, dtype: object

In [ ]:
1+1

In [13]:
jj[jj.str.match(r'(经济学)')==True]

1969     经济学，工学
16242       经济学
17668       经济学
Name: 所学专业, dtype: object

In [16]:
mil.loc[(1969, 16242, 17668),:]

,岗位代码,用人单位\n序 号,用人单位\n名 称,岗位类别,岗位\n名称,从事工作,招考数量,入围比例,来源\n类别,学历,...,考试专业科 目,高校\n毕业生,社会\n人才,高校\n毕业生.1,社会\n人才.1,其他条件,工作\n地点,咨询电话,Unnamed: 20,Unnamed: 21
1969,2021002006,D211196,河南省军区郑州第三离职干部休养所,助理员,助理员（科级副职以下）,行政管理,1,1:3,社会人才,全日制研究生（硕士）,...,管理学,——,无要求,——,无要求,中共党员，国内“双一流”建设高校，有1年以上财务工作经历,河南郑州,"0371-81670751,0371-81678032",NaN,NaN
16242,2021016302,D213114,解放军总医院,助理员,助理员（科级副职以下）,财务管理,1,1:3,高校毕业生或社会人才,全日制研究生（硕士以上）,...,会计学,无要求,无要求,会计专业技术初级资格,会计专业技术初级资格,“985工程”或“211工程”院校毕业生,北京,010-66875193,NaN,NaN
17668,2021017740,D213131,国防科技大学,参谋,参谋（科级副职以下）,装备财务,1,1:5,高校毕业生或社会人才,全日制研究生（硕士）,...,管理学,无要求,无要求,无要求,无要求,男性，国内“双一流”建设高校或海外知名高校毕业，且第一学历为全日制本科,安徽合肥,"0551-65926522,18951021681",NaN,NaN