## image features

In [1]:
str = input().strip().split()
print(len(str[len(str)-1]))

 asd

3

In [10]:
str = input().split()

 woshi aks

In [14]:
len(str[len(str) - 1 ])

3

In [15]:
str = input().split()
len(str[len(str)-1])

 xushek

6

In [19]:
c = input().split()
print(len(c[len(c) -1]))

 shit how

3

## 2

In [33]:
def ge_num():
    fir_line = input()
    sec_line = input()
    if len(sec_line) == 0 or len(sec_line) >1:
        return "第二行填入一个字符："
    leng = len(fir_line.strip().lower().split(sec_line.lower()))-1
 
    return leng
print(ge_num())

 aabbcc
 s

0

In [39]:
len(input().strip().lower().split(input()))-1

 def get():     b = len(input().strip().lower().split(input().lower()))-1     return b  print(get())
 t

8

## 3

In [50]:
import numpy as np
np.array(input().split())

 input().split()

array(['input().split()'], dtype='<U15')

In [77]:
np.array(sorted(list(map(int, result)))).reshape(-1,1).tolist()

[[1],
 [2],
 [2],
 [3],
 [10],
 [11],
 [15],
 [20],
 [20],
 [32],
 [40],
 [40],
 [67],
 [89],
 [300],
 [400]]

In [79]:
result = input().split()
np.array(sorted(list(map(int, result)))).reshape(-1,1).tolist()

 3 2 2 1 11 10 20 40 32 67 40 20 89 300 400 15

[[1],
 [2],
 [2],
 [3],
 [10],
 [11],
 [15],
 [20],
 [20],
 [32],
 [40],
 [40],
 [67],
 [89],
 [300],
 [400]]

In [84]:
while True:
    try:

        a,res=int(input()),set()
        for i in range(a):res.add(int(input()))
        for i in sorted(res):print(i)

    except:
        break

 3 2 2 1 11 10 20 40 32 67 40 20 89 300 400 15

## 4

In [85]:
x = input()
len = len(x.strip())
if len < 8:
    x+ = (np.repeat('0', 8-len))

 asd

AttributeError: 'str' object has no attribute 'append'

In [110]:

delimiter = ''
# Convert list of items to a string value
final_str = delimiter.join(map(str, (np.repeat(0, 8-len)).tolist()))
print(final_str)

# print(map(str, (np.repeat(0, 8-len)).tolist()))

TypeError: 'list' object is not callable

In [115]:
map(str, (np.repeat(0, 8-len)).tolist())

In [126]:
round((input())

 3.2

ValueError: invalid literal for int() with base 10: '3.2'

In [13]:
c = input().split()

 2 4

In [22]:
import pandas as pd
import numpy as np
pd.DataFrame([[0,0,1,1],[1,0,1,0],[0,1,1,0],[0,0,1,0]])

   0  1  2  3
0  0  0  1  1
1  1  0  1  0
2  0  1  1  0
3  0  0  1  0

In [11]:
pd.DataFrame([[0,1,1,1],[0,0,1,0],[0,1,1,0],[0,0,1,0]])

   0  1  2  3
0  0  1  1  1
1  0  0  1  0
2  0  1  1  0
3  0  0  1  0

In [8]:
u = 100
for i in range(1,24):
    print(u, i)
    i = i+1
    u = u * (1-0.12)

100 1
88.0 2
77.44 3
68.1472 4
59.969536 5
52.77319168 6
46.4404086784 7
40.867559636992 8
35.96345248055296 9
31.647838182886606 10
27.850097600940213 11
24.508085888827388 12
21.567115582168103 13
18.97906171230793 14
16.70157430683098 15
14.697385390011263 16
12.933699143209912 17
11.381655246024723 18
10.015856616501756 19
8.813953822521546 20
7.75627936381896 21
6.825525840160685 22
6.006462739341402 23

In [30]:
x = list(['2', '4', '1', '2', '7', '8', '4'])

In [37]:
list(input().split())

  2 4 1 2 7 8 4

['2', '4', '1', '2', '7', '8', '4']

In [42]:
x = list(input().split())
for i in range(1,len(x)):
    u = max(x)
    if x[i] == u:
        print("max num is: %s" %u, "the index of max num is: %s" %i)

  2 4 1 2 7 8 4

max num is: 8 the index of max num is: 5

In [35]:
range(1,len(x))

range(1, 7)