In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.model_selection import GridSearchCV

---

In [128]:
path = '/Users/fyenne/Downloads/booooks/semester5/pythonAAE/open_data_com/data'
train = pd.read_csv(path+'/train.csv')
tests = pd.read_csv(path+'/test.csv')
sub = pd.read_csv(path+'/sub.csv')

In [146]:
train.head();train.tail()

              日期        A厂        B厂  year month date       sum
1030  2020/10/27  281198.0  241711.0  2020    10   27  522909.0
1031  2020/10/28  275598.0  240281.0  2020    10   28  515879.0
1032  2020/10/29  268544.0  237466.0  2020    10   29  506010.0
1033  2020/10/30  285484.0  237611.0  2020    10   30  523095.0
1034  2020/10/31  275130.0  236154.0  2020    10   31  511284.0

In [147]:
tests.head();tests.tail()

             日期   A厂   B厂  year month date   sum
146  2021/03/27  202  941  2021    03   27  1143
147  2021/03/28  853  985  2021    03   28  1838
148  2021/03/29  623  901  2021    03   29  1524
149  2021/03/30  893  692  2021    03   30  1585
150  2021/03/31  572  885  2021    03   31  1457

In [137]:
train['year'], train['month'], train['date'] = 0,0,0
tests['year'], tests['month'], tests['date'] = 0,0,0
train.iloc[:,3:6] = pd.DataFrame([i.split('/') for i in train['日期']])
tests.iloc[:,3:6] = pd.DataFrame([i.split('/') for i in tests['日期']])

In [148]:
train['sum'] = train['A厂'] + train['B厂']
tests['sum'] = tests['A厂'] + tests['B厂']
train['frac_a'] = train['A厂']/train['sum']
tests['frac_a'] = tests['A厂']/tests['sum']
train['frac_b'] = train['B厂']/train['sum']
tests['frac_b'] = tests['B厂']/tests['sum']

In [187]:
train = train.drop('日期', axis = 1)
tests = tests.drop('日期', axis = 1)

In [206]:
dif_col = set(train.columns.to_list()) - set(pd.DataFrame(train.describe()).columns.to_list())

set()

In [205]:
train['year'], train['month'], train['date'] = [train[i].astype(int) for i in list(dif_col)]
tests['year'], tests['month'], tests['date'] = [tests[i].astype(int) for i in list(dif_col)]

---
# baseline

In [357]:
bs_train = train.iloc[:,0:5]
bs_tests = tests.iloc[:,2:5]

In [358]:
bs_tar = bs_train.iloc[:, 0:2]
bs_train = bs_train.iloc[:, 2:]

In [359]:
from sklearn.linear_model import Ridge, LinearRegression
from sklearn import model_selection
cv_split = model_selection.ShuffleSplit(n_splits = 5, test_size = .2, train_size = .8, random_state = 1026529)

In [360]:
alg1 = LinearRegression()
cv_results_1 = model_selection.cross_validate(alg1, bs_train, bs_tar, cv  = cv_split, scoring='neg_mean_absolute_percentage_error')
cv_results_1['test_score'].mean()

-0.14551133194229993

In [361]:
alg2 = Ridge()
cv_results_2 = model_selection.cross_validate(alg2, bs_train, bs_tar, cv  = cv_split, scoring='neg_mean_absolute_percentage_error')
cv_results_2['test_score'].mean()

-0.1455161156470318

In [364]:
bs_mode=alg2.fit(bs_train, y = bs_tar)

In [373]:
sub.iloc[:,1:3] = pd.DataFrame(bs_mode.predict(bs_tests))/100

In [374]:
sub.to_csv('./data/baseline_sub.csv', index=False)

---

## test 2 , the pseudo data

In [7]:
import pandas as pd
import numpy as np
path = '/Users/fyenne/Downloads/booooks/semester5/pythonAAE/open_data_com/data'
train = pd.read_csv(path+'/train.csv')
tests = pd.read_csv(path+'/test.csv')
bssub = pd.read_csv(path+'/baseline_sub.csv')

In [8]:
tests.iloc[:, 1:] = bssub.iloc[:, 1:]
train['year'], train['month'], train['date'] = 0,0,0
tests['year'], tests['month'], tests['date'] = 0,0,0
train.iloc[:,3:6] = pd.DataFrame([i.split('/') for i in train['日期']])
tests.iloc[:,3:6] = pd.DataFrame([i.split('/') for i in tests['日期']])
train['sum'] = train['A厂'] + train['B厂']
tests['sum'] = tests['A厂'] + tests['B厂']
train['frac_a'] = train['A厂']/train['sum']
tests['frac_a'] = tests['A厂']/tests['sum']
train['frac_b'] = train['B厂']/train['sum']
tests['frac_b'] = tests['B厂']/tests['sum']
train = train.drop('日期', axis = 1)
tests = tests.drop('日期', axis = 1)
dif_col = set(train.columns.to_list()) - set(pd.DataFrame(train.describe()).columns.to_list())
train['year'], train['month'], train['date'] = [train[i].astype(int) for i in list(dif_col)]
tests['year'], tests['month'], tests['date'] = [tests[i].astype(int) for i in list(dif_col)]

---

# tensorflow

In [3]:
target_train = train.iloc[:,0:2]
target_test  = tests.iloc[:,0:2]
tensor_train = train.iloc[:,2:]
tensor_test  = tests.iloc[:,2:]

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(tensor_train, target_train, test_size=0.25, random_state=1026529)

In [5]:
# x_train
input_shape =  [7]
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.callbacks import EarlyStopping
import kerastuner as kt
early_stopping = EarlyStopping(
    min_delta=0.001, # minimium amount of change to count as an improvement
    patience=10, # how many epochs to wait before stopping
    restore_best_weights=True,
)

In [6]:
# def model_builder():
#     model = keras.Sequential()
#     layers.Dense(1186, activation='relu', input_shape=input_shape),

#     # hp_units  = hp.Int('units', min_value=593, max_value=1186, step=32)
#     # model.add(keras.layers.Dense(units=hp_units, activation='relu'))
#     # model.add(keras.layers.BatchNormalization()),
#     model.add(keras.layers.Dense(units=593, activation='relu'))
#     model.add(keras.layers.BatchNormalization()),

#     model.add(keras.layers.Dense(units=593, activation='relu'))
#     model.add(keras.layers.BatchNormalization()),
#     model.add(keras.layers.Dense(2))

#     # hp_learning_rate = hp.Choice('learning_rate', values=[1e-1, 1e-2, 1e-3])
#     model.compile(optimizer=keras.optimizers.SGD(learning_rate=1e-1),
#                 loss=keras.losses.MeanAbsolutePercentageError())
# # tf.keras.losses.MeanAbsoluteError
#     return model

In [7]:
model = tf.keras.Sequential([
      layers.Dense(1186, activation='relu', input_shape=input_shape),
      keras.layers.Dense(units=593, activation='relu'),
      keras.layers.BatchNormalization(),
      keras.layers.Dense(units=593, activation='relu'),
      keras.layers.BatchNormalization(),
      keras.layers.Dense(1)
  ])
# model.add()
model.compile(optimizer=keras.optimizers.SGD(learning_rate=1e-1),
                loss=keras.losses.MeanAbsolutePercentageError())

In [8]:
model.fit(tensor_train, epochs=120)

In [1]:
model.predict(tensor_test)

NameError: name 'model' is not defined

factory A

In [4]:
pd.concat([train.head(), tests.head()], axis = 1)

,A厂,B厂,year,month,date,sum,frac_a,frac_b,A厂,B厂,year,month,date,sum,frac_a,frac_b
0,200692.0,189490.0,1,2018,1,390182.0,0.514355,0.485645,291977.094734,203717.476400,11,2020,1,495694.571134,0.589026,0.410974
1,218365.0,211147.0,1,2018,2,429512.0,0.508403,0.491597,291979.053666,203718.602221,11,2020,2,495697.655887,0.589026,0.410974
2,224501.0,217767.0,1,2018,3,442268.0,0.507613,0.492387,291981.012598,203719.728042,11,2020,3,495700.740640,0.589027,0.410973
3,216431.0,212636.0,1,2018,4,429067.0,0.504422,0.495578,291982.971531,203720.853862,11,2020,4,495703.825393,0.589027,0.410973
4,200447.0,209427.0,1,2018,5,409874.0,0.489045,0.510955,291984.930463,203721.979683,11,2020,5,495706.910146,0.589027,0.410973

In [12]:
train.drop('B厂', axis=1)

            A厂  year  month  date       sum    frac_a    frac_b
0     200692.0     1   2018     1  390182.0  0.514355  0.485645
1     218365.0     1   2018     2  429512.0  0.508403  0.491597
2     224501.0     1   2018     3  442268.0  0.507613  0.492387
3     216431.0     1   2018     4  429067.0  0.504422  0.495578
4     200447.0     1   2018     5  409874.0  0.489045  0.510955
...        ...   ...    ...   ...       ...       ...       ...
1030  281198.0    10   2020    27  522909.0  0.537757  0.462243
1031  275598.0    10   2020    28  515879.0  0.534230  0.465770
1032  268544.0    10   2020    29  506010.0  0.530709  0.469291
1033  285484.0    10   2020    30  523095.0  0.545759  0.454241
1034  275130.0    10   2020    31  511284.0  0.538116  0.461884

[1035 rows x 7 columns]

In [14]:
train3 = pd.concat([train.drop('B厂', axis=1), train.drop('A厂', axis=1)], axis = 0, ignore_index=True)

In [21]:
train3.iloc[:1035,7] = False
train3.iloc[1035:,0] = train3.iloc[1035:,7]
train3.iloc[1035:,7] = True

In [27]:
train3.pop

            A厂  year  month  date       sum    frac_a    frac_b     B厂
0     200692.0     1   2018     1  390182.0  0.514355  0.485645  False
1     218365.0     1   2018     2  429512.0  0.508403  0.491597  False
2     224501.0     1   2018     3  442268.0  0.507613  0.492387  False
3     216431.0     1   2018     4  429067.0  0.504422  0.495578  False
4     200447.0     1   2018     5  409874.0  0.489045  0.510955  False
...        ...   ...    ...   ...       ...       ...       ...    ...
2065  241711.0    10   2020    27  522909.0  0.537757  0.462243   True
2066  240281.0    10   2020    28  515879.0  0.534230  0.465770   True
2067  237466.0    10   2020    29  506010.0  0.530709  0.469291   True
2068  237611.0    10   2020    30  523095.0  0.545759  0.454241   True
2069  236154.0    10   2020    31  511284.0  0.538116  0.461884   True

[2070 rows x 8 columns]

In [ ]:
import h2o
h2o.init(nthreads=-1, max_mem_size = "8G")

train_list=list(train.columns)[:-1]
train_1=h2o.H2OFrame(train)
train_1['result']=train_1['A厂']