# python data science for primary school students

source from programiz.com; kaggle.com; calmcode.io; holypython.com

`by Siming Yan` @ www.fyenneyenn.studio

---

## input and output.

In [1]:
print(1+1)
print(3/2); 
print(3//2); # 取整
print(6%2) # 取余
print(6**3) # power
(1.5).as_integer_ratio()
# print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

2
1.5
1
0
216

(3, 2)

In [3]:
x = 3; y = 'S'; z = 'zhen\de\t\hen\nan'
print('The value of x is {} and y is {}'.format(x,y))
x = 12.345678900
print('%.2d' %x) # or i, integer.
print('%.2f' %x) # float with 2
print('%.4f' %x) # float with 4
print('%.4e' %x) # scientific format
print('%4u'  %x) # with indent
print('%.4u' %x) # with number indent
print( '%c'  %y) # one character
print( '%s'  %z) # a string # \t == space, \n == new line
print('#-------------------------------------------')
print(r'zhen\de\t\hen\nan', '---', r'%s' %z)

The value of x is 3 and y is S
12
12.35
12.3457
1.2346e+01
  12
0012
S
zhen\de	\hen
an
#-------------------------------------------
zhen\de\t\hen\nan --- zhen\de	\hen
an

In [2]:
hw12 = '%s %s %d' % ('hello this', 'world', 12345)  # sprintf style string formatting
print(hw12, end=".")# prints "hello world 12"

hello this world 12345.

字符串前加 u
例：u"我是含有中文字符组成的字符串。"
作用：
后面字符串以 Unicode 格式 进行编码，一般用在中文字符串前面，防止因为源码储存格式问题，导致再次使用时出现乱码。
字符串前加 r
例：r"\n\n\n\n”　　# 表示一个普通生字符串 \n\n\n\n，而不表示换行了。
作用：
去掉反斜杠的转移机制。
(特殊字符：即那些，反斜杠加上对应字母，表示对应的特殊含义的，比如最常见的”\n”表示换行，”\t”表示Tab等。 )

In [4]:
import math
print(math.pi)
import sys
# sys.path

3.141592653589793

## define a function

In [5]:
def summ(a,b):
    return a+b

In [6]:
summ(3,5)

8

In [7]:
def onetopping(ketchup, onion, mayo):
    return int(ketchup) + int(onion) + int(mayo) == 1
    # values can take in this function: int

In [8]:
print(onetopping(1,1,0), onetopping(0,0,1));
onetopping(1, -1, 1)

False True

True

In [9]:
triple = lambda x: x * 3;
# this would equal to def a function
def triple2(x):
    return x * 3

In [10]:
triple(3), triple2(4)

(9, 12)

## List in python

In [11]:
type([3,6,8,10,1,2,1])

list

In [33]:
a = [1,2,3,4,"5"];a

[1, 2, 3, 4, '5']

In [34]:
lab = lambda x: int(x)
[lab(i) for i in a]

[1, 2, 3, 4, 5]

In [35]:
b = list(map(int, a));print(b)

[1, 2, 3, 4, 5]

In [36]:
b.sort(reverse = True);b

[5, 4, 3, 2, 1]

In [37]:
sorted(b, reverse = False)

[1, 2, 3, 4, 5]

In [38]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [44]:
planets[:], planets[1:-1], planets[:-1]
# all -----# no first & last #------no last

(['Mercury',
  'Venus',
  'Earth',
  'Mars',
  'Jupiter',
  'Saturn',
  'Uranus',
  'Neptune'],
 ['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus'],
 ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus'])

In [45]:
planets.append('Pluto');planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [46]:
planets.index('Earth'), planets[2]

(2, 'Earth')

In [47]:
primes = [2, 3, 5, 7]
sum(primes), max(primes)

(17, 7)

In [48]:
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [49]:
hands[2], hands[2][2], hands[0][0]

(['6', 'A', 'K'], 'K', 'J')

In [50]:
%time
sum(range(100))

CPU times: user 1e+03 ns, sys: 1 µs, total: 2 µs
Wall time: 3.1 µs

4950

In [51]:
# noinspection PyBroadException
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    try:
        if type(L[1]) == int or float:
            return L[1]
    except:
        return None
    pass
#--------------------------------------------
# or
def select_second2(L):
    try:
        type(L[1]) == int or float
        return L[1]
    except:
        return None
    pass

In [52]:
L = [2,3,4]
select_second2(L),select_second(L)

(3, 3)

In [53]:
def quicksort(arr):
    """make a quick sort function for data lists."""
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

### args, kwargs and functions

In [54]:
def multiply(*numbers): # star marks for multiple inputs
    result = 1
    for n in numbers:
        result = result * n
    return result

multiply(1,3,5)

15

In [55]:
def function(a, b, *args):
    # *args: a tuple; unnamed arguments in the following function
    print(a + b + sum(args))
    print(sum(args))

function(1,2,3,4)

10
7

In [56]:
def function(a, b, *args, keyword = True, **kwargs):
    # **kwargs a dictionary; named arguments in the following function
    print(a + b + sum(args))
    print(sum(args))
    print(keyword)
    print(kwargs)
    df = kwargs
    print(df['wo'])
function(1,2,3,4, wo = 'sb')

10
7
True
{'wo': 'sb'}
sb

# 几种存储器的介绍(list, tuple, set, dictionary, string)

我们已经对list有了简单的了解, 声明一个list需要用到list, 或者直接使用[]

In [57]:
print(list(range(5)),[0,1,2,3,4])

[0, 1, 2, 3, 4] [0, 1, 2, 3, 4]

In [58]:
a = list(range(10));a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
print(a[::2], # every second element of a list,
a[1::2]) # 跳过第一个数, every second element

[0, 2, 4, 6, 8] [1, 3, 5, 7, 9]

In [60]:
# 反向
a[::-1], a

([9, 8, 7, 6, 5, 4, 3, 2, 1, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [61]:
a[1:-3:2] # 跳过第一个数, 止步于倒数第三个数, every second element

[1, 3, 5]

In [62]:
del a[3:7];a # 删除
# del(a[2]) # or write like this

[0, 1, 2, 7, 8, 9]

In [63]:
a.append(20)
print(a)

[0, 1, 2, 7, 8, 9, 20]

---

tuple 是一种内容不可更改的list, 用()来声明, 更改会报错:
TypeError: 'tuple' object does not support item assignment

In [64]:
a = (1,2,3,4,5);a

(1, 2, 3, 4, 5)

*Set* is an unordered collection of *unique* items. Set is defined by values separated by comma inside braces { }. Items in a set are *not ordered*.
请注意unique and not ordered

In [65]:
a = {5,2,3,1,4};a

{1, 2, 3, 4, 5}

In [66]:
a = {1,2,2,3,3,3};print(a)

{1, 2, 3}

**Dictionary** is an unordered collection of key-value pairs.
有key有value!

In [67]:
d = {1:'value','key':2}
print(type(d))
numbers = {'one':1, 'two':2, 'three':3}

<class 'dict'>

In [68]:
 d[1], d['key'] # 注意只有在前面的是key

('value', 2)

In [69]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = 1
two = 2
three = 3

In [70]:
list(numbers.values())

[1, 2, 3]

In [71]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [74]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(9), initial))

  Mercury begins with "M"
    Venus begins with "V"
    Earth begins with "E"
     Mars begins with "M"
  Jupiter begins with "J"
   Saturn begins with "S"
   Uranus begins with "U"
  Neptune begins with "N"

## String

In [75]:
claim = "Pluto is a planet!"
claim.upper(), claim.lower()

('PLUTO IS A PLANET!', 'pluto is a planet!')

In [76]:
claim.split()

['Pluto', 'is', 'a', 'planet!']

In [77]:
datestr = '1995-10-26'
year, month, day = datestr.split('-')

In [78]:
year, month, day

('1995', '10', '26')

In [79]:
'/'.join([year, month, day])

'1995/10/26'

In [80]:
' 👏 '.join([word.upper() for word in claim.split()])
# claim

'PLUTO 👏 IS 👏 A 👏 PLANET!'

In [82]:
position = 9
planet = 'pluto'
planet + ", you'll always be the " + str(position) + "th planet to me."

"pluto, you'll always be the 9th planet to me."

In [83]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"pluto, you'll always be the 9th planet to me."

In [84]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
frac = pluto_mass / earth_mass
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [85]:
# '%s %s %d' % ('hello this', 'world', 12)  # sprintf styl
print("%s weighs about %.2e kilograms (%.4f of Earth's mass). It is home to %.2d Plutonians." % 
(planet, pluto_mass, frac, population))

pluto weighs about 1.30e+22 kilograms (0.0022 of Earth's mass). It is home to 52910390 Plutonians.

In [87]:
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

In [90]:
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    return len(zip_code) == 5 and zip_code.isdigit()
    pass

In [93]:
is_valid_zip('23533'), is_valid_zip('2353s')

(True, False)

# Loops

In [2]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
product

360

In [4]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or videO.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLOO

In [5]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
squares = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
def has_lucky_number(nums):
    return any([num % 7 == 0 for num in nums])

In [9]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
#     for i in range(len(meals) - 1):
#         if meals[i] == meals[i+1]:
#               return True
#     return False 
    return any(meals[i] == meals[i + 1] for i in range(len(meals) - 1))
    pass

In [10]:
menu_is_boring(['Spam', 'Eggs', 'Spam', 'Spam', 'Bacon', 'Spam'])

True

In [1]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
def word_search(doc_list, keyword):
    c = []
    for t, j in enumerate(doc_list):
        if keyword in [i.lower().strip(',.') for i in j.split()]:
            c.append(t)
    return c
#

In [2]:
keyword = 'casino'
word_search(doc_list, keyword)

[0]

In [3]:
def multi_word_search(doc_list, keywords):
    """
    Takes list of documents (each document is a string) and a list of keywords.  
    Returns a dictionary where each key is a keyword, and the value is a list of indices
    (from doc_list) of the documents containing that keyword

    >>> doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
    >>> keywords = ['casino', 'they']
    >>> multi_word_search(doc_list, keywords)
    {'casino': [0, 1], 'they': [1]}
    """
    c = {}
    for keyword in keywords:
        c[keyword] = word_search(doc_list, keyword)
    return c
    pass

In [4]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
keywords = ['casino', 'they']
multi_word_search(doc_list, keywords)

{'casino': [0, 1], 'they': [1]}