In [41]:
import pandas as pd
import numpy as np
import array
import matplotlib
import matplotlib.pyplot as plt

data = pd.read_csv("../6363_6/hprice.csv")

In [47]:
df = pd.DataFrame(data.iloc[:,1:])

In [48]:
df

,price,crime,nox,rooms,dist,radial,proptax,stratio,lowstat,lprice,lnox,lproptax
0,24000,0.006,5.38,6.57,4.09,1,29.600000,15.300000,4.98,10.085809,1.682688,5.690360
1,21599,0.027,4.69,6.42,4.97,2,24.200001,17.799999,9.14,9.980402,1.545433,5.488938
2,34700,0.027,4.69,7.18,4.97,2,24.200001,17.799999,4.03,10.454495,1.545433,5.488938
3,33400,0.032,4.58,7.00,6.06,3,22.200001,18.700001,2.94,10.416311,1.521699,5.402678
4,36199,0.069,4.58,7.15,6.06,3,22.200001,18.700001,5.33,10.496787,1.521699,5.402678
...,...,...,...,...,...,...,...,...,...,...,...,...
501,22400,0.063,5.73,6.59,2.48,1,27.299999,21.000000,9.67,10.016816,1.745715,5.609472
502,20600,0.045,5.73,6.12,2.29,1,27.299999,21.000000,9.08,9.933046,1.745715,5.609472
503,23899,0.061,5.73,6.98,2.17,1,27.299999,21.000000,5.64,10.081592,1.745715,5.609472
504,22000,0.110,5.73,6.79,2.39,1,27.299999,21.000000,6.48,9.998797,1.745715,5.609472
505,11900,0.047,5.73,6.03,2.51,1,27.299999,21.000000,7.88,9.384294,1.745715,5.609472

In [50]:
import plotly.express as px
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
# Load Data
# df = px.data.tips()
# Build App
app = JupyterDash(__name__)
app.layout = html.Div([
    html.H1("JupyterDash Demo"),
    dcc.Graph(id='graph'),
    html.Label([
        "colorscale",
        dcc.Dropdown(
            id='colorscale-dropdown', clearable=False,
            value='plasma', options=[
                {'label': c, 'value': c}
                for c in px.colors.named_colorscales()
            ])
    ]),
])
# Define callback to update graph
@app.callback(
    Output('graph', 'figure'),
    [Input("colorscale-dropdown", "value")]
)

def update_figure(colorscale):
    return px.scatter(
        df, x="crime", y="price", color="radial",
        color_continuous_scale=colorscale,
        render_mode="webgl", title="Tips"
    )
# Run app and display result inline in the notebook
app.run_server(mode='inline')

In [37]:
px.data.tips()

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [55]:
plotly.tools.get_embed

AttributeError: module 'plotly.tools' has no attribute 'get_embed'

In [54]:
import plotly